@import "styles.css";

h1 {
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-menu-first,
.nav-menu-second {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.nav-menu-second {
    padding-right: 3rem;
}

.nav-menu-first li,
.nav-menu-second li {
    list-style: none;
}

.nav-menu-first li a,
.nav-menu-second li a {
    color: var(--primary-black);
}

.content {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        "transaction transaction category"
        "summary summary summary";
    height: 40rem;
}

.content article {
    border: 1px solid var(--off-white);
}
.content article h2 {
    text-align: center;
    font-weight: normal;
}

.summary {
    grid-area: summary;
}

.transactions {
    grid-area: transaction;
}

.categories {
    grid-area: category;
}
