*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-white: #e5e4e0;
    --primary-black: #1d1d1d;
    --secondary-black: #252525;
    --off-white: #fdf0d5;
    --primary-red: #c1121f;
    --secondary-red: #780000;
    --primary-blue: #669bbc;
    --secondary-blue: #003049;
}

body {
    background-color: var(--primary-black);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    scrollbar-width: none;
}
